<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Produtos</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container">

    <div class="topo">
        <h1>Lista de Produtos</h1>
        <a href="/produtos/novo">Novo Produto</a>
        <a href="/">Home</a>
    </div>

    <ul>
        <% produtos.forEach(p => { %>
            <li>
                <strong><%= p.nome %></strong> - R$ <%= p.preco %>

                <div class="links">
                    <a href="/produtos/editar/<%= p.id %>">Editar</a>
                    <a href="/produtos/deletar/<%= p.id %>">Excluir</a>
                </div>
            </li>
        <% }) %>
    </ul>

</div>

</body>
</html>